.outer {
  border-radius: 10px;
  width: 500px;
  background-color: rgba(249, 250, 250, 0.341);
  backdrop-filter: blur(5px);
  padding: 10px;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  .outer {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .outer {
    width: 300px;
  }
}
