.background {
  background-image: url("/Photo by Asad Photo Maldives.webp");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.section {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px; /*避免上方跟nav重疊*/
  background-color: rgba(6, 6, 6, 0.175);
}
.mode_wrapper {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.mode {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.223);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mode:hover {
  background-color: rgba(255, 255, 255, 0.563);
}
.mode_active {
  box-shadow: 0 0 2px 3px rgba(16, 179, 249, 0.445);
}
.home {
  font-size: 45px;
  color: white;
}
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 100px;
}
@media (max-width: 1200px) {
  .mode_wrapper {
    left: 3%;
  }
}
@media (max-width: 600px) {
  .mode_wrapper {
    left: 1%;
    top: auto;
    bottom: 0;
    gap: 24px;
  }
  .mode {
    width: 32px;
    height: 32px;
  }
  .home {
    font-size: 24px;
  }
}
