.background {
  background-image: url("/Mo-Eid.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.section {
  width: 100vw;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: rgba(94, 122, 169, 0.278);
  display: flex;
  align-items: center;
  justify-content: center;
}
.all_wrapper {
  width: 1200px;
  /* border: 5px solid rgb(243, 12, 12);*/
  display: flex;
  flex-wrap: wrap;
  /* align-items: stretch;  讓左右兩邊等高 */
}

@media (max-width: 600px) {
}
